.theme_light  .page {
  background-image: url(../images/cover-image-light.png);
  background-color: var(--main-background-color);
}

.theme_light  .epigraph {
  background-color: var(--text-background-color);
}

.theme_light .header h1 {
  color: var(--text-color);
}

.theme_light .accent_block
 {
  color: #353430;
}

.accent_block {
  color: #353430
}

.theme_light  .block h4 {
  background-color: var(--text-background-color);
}

.theme_light  h4:not(h4 + p) {
  background-color: var(--text-background-color);
}

.theme_light  .footer h2 {
  color: var(--text-color);
  text-shadow: 2px 2px 0px var(--text-background-color);
}

.theme_light  .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}

.theme_light  .header__theme-menu-button:focus {
  border-bottom: 1px var(--border-color) solid;
}

.theme_light  .header__theme-menu-button_active {
  border: 1px solid var(--border-color);
}

.theme_light  .decorated-zone::before {
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.theme_light  .decorated-zone::after {
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.theme_light  .link_tilted_shadow {
  text-shadow: 2px 2px var(--text-background-color);
}

.theme_light  .link_direct_shadow  {
  text-shadow: 2px 0px var(--text-background-color);
}

.theme_light  .link_tilted_shadow:hover {
  border-bottom: 1px  solid var(--border-color);
}

.theme_light  .link_tilted_shadow:focus,
.theme_light  .link_direct_shadow:focus {
  border: 1px solid var(--border-color);
}
