.page.theme-light .page {
  background-image: url(../images/cover-image-light.png);
  background-color: var(--main-background-color);
  --main-background-color: #FFF1F7; /* нежно-розовый */
  --text-background-color: #FF8DCB; /* темно-розовый */
  --text-color: #FFC2E6; /* светло-розовый */
  --border-color: #353430;
}

.page.theme-light .title-decor {
   background-color: var(--text-background-color);
}

.page.theme-light .content .accent_block {
  color: #353430;
}

.page.theme-light .header__theme-menu-item {
  color: #353430;
}

.page.theme-light .header .title {
  color: var(--text-color);
  text-shadow: 4px 4px 0px var(--text-background-color);
}

.page.theme-light .block .title-decor {
  background-color: var(--text-background-color);
}

.page.theme-light .footer .title {
  color: var(--text-color);
  text-shadow: 2px 2px 0px var(--text-background-color);
}

.page.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px var(--border-color) solid;
}

.page.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--border-color);
}

.page.theme-light .decorated-zone::before {
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.page.theme-light .decorated-zone::after {
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.page.theme-light .link_tilted_shadow {
  text-shadow: 2px 2px var(--text-background-color);
}

.page.theme-light .link_direct_shadow {
  text-shadow: 2px 0px var(--text-background-color);
}

.page.theme-light .link_tilted_shadow:hover {
  border-bottom: 1px  solid var(--border-color);
}

.page.theme-light .link_tilted_shadow:focus-visible,
.page.theme-light .link_direct_shadow:focus-visible {
  border: 1px solid var(--border-color);
}

@media (prefers-color-scheme: light) {
  :root {
  --main-background-color: #FFF1F7; /* нежно-розовый */
  --text-background-color: #FF8DCB; /* темно-розовый */
  --text-color: #FFC2E6; /* светло-розовый */
  --border-color: #353430;
}

.page.theme-light .page {
  background-image: url(../images/cover-image-light.png);
  background-color: var(--main-background-color);
}

.page.theme-light .title-decor {
   background-color: var(--text-background-color);
}

.page.theme-light .header .title {
  color: var(--text-color);
  text-shadow: 4px 4px 0px var(--text-background-color);
}

.page.theme-light .block .title-decor {
  background-color: var(--text-background-color);
}

.page.theme-light .header__theme-menu-item {
  color: #353430;
}

.page.theme-light .footer .title {
  color: var(--text-color);
  text-shadow: 2px 2px 0px var(--text-background-color);
}

.page.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px var(--border-color) solid;
}

.page.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--border-color);
}

.page.theme-light .decorated-zone::before {
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.page.theme-light .decorated-zone::after {
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.page.theme-light .link_tilted_shadow {
  text-shadow: 2px 2px var(--text-background-color);
}

.page.theme-light .link_direct_shadow {
  text-shadow: 2px 0px var(--text-background-color);
}

.page.theme-light .link_tilted_shadow:hover {
  border-bottom: 1px  solid var(--border-color);
}

.page.theme-light .link_tilted_shadow:focus-visible,
.page.theme-light .link_direct_shadow:focus-visible {
  border: 1px solid var(--border-color);
}

}
